#
# Copyright (c) 2018 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: Apache-2.0
#
config SECURE_BOOT
	bool "Secure Boot Support"

config TEST_SECURE_BOOT
	bool "Test Secure Boot"

if (SECURE_BOOT || TEST_SECURE_BOOT)

menu "Secure Boot Options"
config SB_NRF_OBERON
	bool
config SB_NRF_CC310_BL
	bool
config SB_ECDSA
	bool
config SB_RSA
	bool

choice SB_CRYPTO_SIG
	prompt "Crypto implementation to use for signature verification of firmware in BL0."
	default SB_CRYPTO_OBERON_ECDSA_SECP256R1

	config SB_CRYPTO_OBERON_ECDSA_SECP256R1
		bool "Software implementation of ECDSA with NIST curve secp256r1."
		select SB_NRF_OBERON
		select SB_ECDSA

	config SB_CRYPTO_OBERON_RSA_2048
		bool "Software implementation of RSASSA-PSS, 2048 bits"
		select SB_NRF_OBERON
		select SB_RSA

endchoice

config SB_VALIDATION_METADATA_MAGIC_WORD
	string "Hexadecimal magic word to use as metadata format"
	default "B24EFBA01C59E209"
	help
	  Must be byte sized.

config SB_VALIDATION_METADATA_OFFSET
	int "Offset to store application metadata at."
	default 0
	help
	  Must be either 0 or larger than size of application. If 0 is set,
	  the metadata will be appended directly after the application image,
	  aligned to closest word.

config SB_VALIDATION_PEM_PATH
	string "Absolute path to PEM file used for signing image."
	default ""
	help
	  This value can also be set by exporting an environment variable
	  named 'SB_VALIDATION_PEM_PATH' or passing
	  '-DSB_VALIDATION_PEM_PATH=/path/to/my/pem' when running cmake.
	  If no value is set, a random PEM will be generated and placed 
	  in the build directory.

config SB_SYSTEM_INIT
	bool "Boot with chip specific initialization"
	#select SYSTEM_INIT

	config SB_CRYPTO_CC310_ECDSA_SECP256R1
		bool "Hardware implementation of ECDSA with NIST curve secp256r1." if HAS_HW_NRF_CC310
		select SB_NRF_CC310_BL
		select SB_ECDSA

	config SB_CRYPTO_CC310_RSA_2048
		bool "Hardware implementation of RSASSA-PSS, 2048 bits" if HAS_HW_NRF_CC310
		select SB_NRF_CC310_BL
		select SB_RSA

choice SB_CRYPTO_HASH
	prompt "Crypto implementation to use for hash generation in BL0."
	default SB_CRYPTO_OBERON_SHA256

	config SB_CRYPTO_OBERON_SHA256
		bool "Software implementation of SHA256."
		select SB_NRF_OBERON

	config SB_CRYPTO_CC310_SHA256
		bool "Hardware implementation of SHA256" if HAS_HW_NRF_CC310
		select SB_NRF_CC310_BL
endchoice

config SB_SIGNATURE_LEN
	int
	default 32 if SB_ECDSA
	default 256 if SB_RSA

config SB_PUBLIC_KEY_LEN
	int
	default 64 if SB_ECDSA
	default 256 if SB_RSA

config SB_HASH_LEN
	int
	default 32

if SECURE_BOOT

source "subsys/bootloader/c_runtime_setup/Kconfig"

config SB_FLASH_LOCKDOWN
	bool "Lock down flash before jumping to next stage."
    default y

config SECURE_BOOT_DEBUG
	bool "Debugging support"

if SECURE_BOOT_DEBUG
choice
	prompt "Debug output selection"
	default SB_DEBUG_PORT_SEGGER_RTT
	config SB_DEBUG_PORT_SEGGER_RTT
		bool "SEGGER RTT debug support"
	config SB_DEBUG_PORT_UART
		bool "UART debug support"
endchoice

endif #SECURE_BOOT_DEBUG

if SB_DEBUG_PORT_SEGGER_RTT

config SB_DEBUG_PORT_SEGGER_RTT_MAX_NUM_UP_BUFFERS
	int "Maximum number of up-buffers"
	default 3

config SB_DEBUG_PORT_SEGGER_RTT_MAX_NUM_DOWN_BUFFERS
	int "Maximum number of down-buffers"
	default 3

config SB_DEBUG_PORT_SEGGER_RTT_BUFFER_SIZE_UP
	int "Size of the buffer for terminal output of target, up to host"
	default 1024

config SB_DEBUG_PORT_SEGGER_RTT_BUFFER_SIZE_DOWN
	int "Size of the buffer for terminal input of target, from host"
	default 16

config SB_DEBUG_PORT_SEGGER_RTT_PRINTF_BUFFER_SIZE
	int "Size of buffer for RTT printf to bulk-send chars via RTT"
	default 64

choice
	prompt "Mode for pre-initialized terminal channel (buffer 0)"
	default SB_DEBUG_PORT_SEGGER_RTT_MODE_NO_BLOCK_SKIP
	config SB_DEBUG_PORT_SEGGER_RTT_MODE_NO_BLOCK_SKIP
		bool "Skip. Do not block, output nothing."

	config SB_DEBUG_PORT_SEGGER_RTT_MODE_NO_BLOCK_TRIM
		bool "Trim: Do not block, output as much as fits."

	config SB_DEBUG_PORT_SEGGER_RTT_MODE_BLOCK_IF_FIFO_FULL
		bool "Block: Wait until there is space in the buffer."
endchoice

config SB_DEBUG_PORT_SEGGER_RTT_MODE
	int
	default 2 if SB_DEBUG_PORT_SEGGER_RTT_MODE_BLOCK_IF_FIFO_FULL
	default 1 if SB_DEBUG_PORT_SEGGER_RTT_MODE_NO_BLOCK_TRIM
	default 0

config SB_DEBUG_PORT_SEGGER_RTT_MEMCPY_USE_BYTELOOP
	bool "Use a simple byte-loop instead of standard memcpy"

endif # SB_SEGGER_RTT
endif # SECURE_BOOT
endmenu
endif # (SECURE_BOOT || TEST_SECURE_BOOT)
