choice
	prompt "C runtime setup selection"
	default SB_C_RUNTIME_SETUP_VARIANT_CUSTOM
	config SB_C_RUNTIME_SETUP_VARIANT_CUSTOM
		bool "Custom C runtime setup"
	config SB_C_RUNTIME_SETUP_VARIANT_ZEPHYR
		bool "Zephyr C runtime setup"
	config SB_C_RUNTIME_SETUP_VARIANT_MDK
		bool "MDK C runtime setup"
		select SB_VENDOR_SYSTEM_INIT(=y)
endchoice

config SB_VENDOR_SYSTEM_INIT
	bool "Boot with chip specific initialization"

config ADDITIONAL_LINKER_DIR
	default "$ZEPHYR_BASE/subsys/bootloader/scripts/arm/cortex_m"
	string "Additional linker script path"
	depends on SB_C_RUNTIME_SETUP_VARIANT_MDK
